:root {
    /* gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    /* dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    /* light blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    --rojo: #cc1313;
}
* {
    box-sizing: border-box;
}
/* general */
body {
    background-color: var(--light-blue-100);
    height: 100vh;
    margin: 0;
}
main {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    padding: 5%;
    
    display: flex;
    gap: 80px;
}
/* header */
header {
    position: absolute;
    top: 5%;
    left: 5%;
}
/* main  */
#texto-entrada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    height: 100%;
}
#texto-salida {
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: 100%;
    width: 30%;
    text-align: center;

    display: flex;
}
/* input */
.ingresar-texto {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingresar-texto textarea{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;

    color: var(--dark-blue-300);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.mensaje {
    color: var(--gray-400);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}
.mensaje img {
    height: 10px;
}
/* error */

.invalido {
    color: var(--rojo);
}
.ingresar-texto textarea.invalido {
    color: var(--rojo);
}
.error {
    position: absolute;
    top: 40px;
    display: none;
}
.error.invalido {
    display: inline;
}


/* texto encriptado */
.texto-encriptado {
    font-size: 1.5rem;
    padding: 20px;
    word-wrap: break-word;
    max-height: 50%;
    overflow: auto;
}
#con-texto, #sin-texto {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 20px;
}
#texto-salida #sin-texto {
    align-items: center;
    justify-content: center;
}
#texto-salida #sin-texto img{
    width: 100%;
}
#sin-texto.activo {
    display: flex;
}
#con-texto.activo {
    display: flex;
}

/* botones */
.botones {
    display: flex;
    flex: auto;

    margin-top: 20px;
    gap: 10px;
}
.boton {
    cursor: pointer;

    border-radius: 24px;
    padding: 24px;
    width: 100%;
    height: 67px;
}
.btn-1 {
    background-color: var(--dark-blue-300);
    color: #fff;
}
.btn-2 {
    background-color: #fff;
    border: 1px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
}
.btn-1:hover {
    background-color: var(--dark-blue-400);
    color: var(--gray-200);
}
.btn-2:hover {
    background-color: var(--light-blue-200);
}


/* tablet */
@media (max-width: 768px) {
    body {
        height:auto
    }
    main {
        flex-direction: column;
        padding: 0%;
        margin-bottom: 50px;
    }
    header img {
        width: 25px;
    }
    .ingresar-texto {
        margin-top: 30px;
    }
    #texto-salida {
        width: 100%;
    }
    #texto-salida #sin-texto img {
        display: none;
    }
    .error {
        top: 42px;
    }

    .mensaje.movil {
        visibility: hidden;
    }
}

/* ...mobile */
@media (max-width: 375px) {
    .botones {
        flex-direction: column;
    }
    .ingresar-texto textarea {
        font-size: 24px;
    }
}